@import "~bootstrap/scss/bootstrap.scss";

body {
  font-size: 0.9rem;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.num {
  text-align: right;
}

table.table {
  .br {
    border-right: 1px solid #eceeef;
  }
}

//Write your main scss here or just import a framework